* {
    box-sizing: border-box;
}

/*Below is the custom fonts I used as well as all the elements I implemented them on.*/
@font-face { font-family: Staatliches; src: url('Staatliches.ttf'); }
@font-face { font-family: Ubuntu-Light; src: url('Ubuntu-Light.ttf'); }

h1 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 350%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 145%;
}

h4 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 135%;
    margin-left: 10px;
}

body {
    font-family: Ubuntu-Light;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    font-size: 125%;
}

/*Below is the styling for the header and its contents.*/
header {
    background-color: #2D4030;
    color: #FFFFFF;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    background-image: url("../images/plant-background.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#headshot {
    width: 444px;
}

.profile-headshot {
    border: 5px solid #FFFFFF;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#name {
    width: 444px;
    text-align: center;
}

#contact {
    width: 444px;
    text-align: left;
}

.contact-icons {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

/*Below is the styling for the main body as well as the side bar and their contents.*/
main {
    display: flex;
    flex-direction: row;
    overflow: unset;
    font-size: 100%;
    width: 100%;
    height: 100%;
    background-image: url("../images/plant-line-art.png");
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-position-y: 95%;
}

.content {
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%
}

.introduction-paragraph {
    margin-left: 40px;
}

[href] {
    /*color: #EBB461;*/
    color: #325364;
    text-decoration: underline;
    background: transparent;
}

[href]:hover {
    opacity: 0.85;
}

.sidebar {
    background-color: #7BB376;
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
}

.sidebar-heading {
    text-align: center;
}

/*Below is the styling for the footer and its contents.*/
footer {
    background-color: #2D4030;
    color: #FFFFFF;
    text-align: center;
    background-image: url("../images/plant-background.png");
    width: 100%;
    height: 100%;
}

#social {
    margin-top: 0%;
    margin-bottom: 10px;
}

.social-icons {
    width: 48px;
    height: 48px;
    margin: 5px;
}

.social-icons:hover {
    box-shadow: 0 5px 15px #FFFFFF;
    border-radius: 48px;
}