body {
    font-family: sans-serif;
    font-size: 110%;
    color: #052A44;
    background-color: #FDC800;
}
header {
    background-color: #03D99D;
    color: rgb(255, 255, 255);
    text-align: center;
}

#sidebar {
    width: 15%;
}

#content {
    width: 80%
}

footer {
    background-color: #F83D96;
    color: rgb(255, 254, 254);
    text-align: center;
}