body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 110%;
    color: #052A44;
    background-color: #FDC800;
}

header {
    background-color: #03D99D;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 120%;
    padding: 1rem;
}

#profileHeadshot {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}


#sidebar {
    width: 15%;
    background-color: #03D99D;
    padding: 1rem;
}

.navMenu {
    padding: 0%;
}

#content {
    width: 80%;
}

footer {
    background-color: #F83D96;
    color: rgb(255, 254, 254);
    text-align: center;
}

.icons{
    width: 3rem;
    height: auto;
    margin: 0.3rem;
}